
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #4CAF50;
  color: #333;
}


nav {
  background-color: #333;
  padding: 10px 0;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}


.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #4CAF50;
}


section {
  background-color: #4CAF50;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
  color: #4CAF50;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 10px;
  margin-bottom: 15px;
}


ul {
  list-style-type: disc
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-header {
  background-color: #4CAF50;
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.main-header h1 {
  font-size: 2em;
  margin: 0;
}

.al {
  width: 50%;
  width: 150px;       
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover;  
  border: 2px solid #ccc; 
}

nav {
  background-color: #333;
  padding: 10px 0;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #4CAF50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}


nav {
  background-color: #333;
  padding: 10px 0;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}


.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #4CAF50;
}


section {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
  color: #4CAF50;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 10px;
  margin-bottom: 15px;
}


ul {
  list-style-type: disc
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-header {
  background-color: #4CAF50;
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.main-header h1 {
  font-size: 2em;
  margin: 0;
}

.al {
  width: 50%;
  width: 150px;       
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover;  
  border: 2px solid #ccc; 
}

nav {
  background-color: #333;
  padding: 10px 0;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #4CAF50;
}
